{% extends 'index.html' %}

{% block content %}

<div class="container pt-5 pl-2">
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Product</th>
                <th scope="col">Harga</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody id="cartItemList">
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="alert alert-light" id="totalPrice" role="alert">
            Total Harga : 0
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-success" style="width: 150px;" >Checkout</button>
    </div>
    
</div>

{% endblock %}



{% block script %}
<script src={{ url_for('cart.static', filename='js/cartUI.js') }}></script>
{% endblock %}