<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-11">
            <a class="navbar-brand" href="/user">Obi Kastanya</a> 
            |
            <a class="navbar-brand" href="/">Py Shop</a>
        </div>
        <div class="col-1">
            <div class="text-right">
              <a href="/cart">
                <button type="button" class="btn btn-error position-relative">  
                  
                  <img src="/static/assets/cart.svg" alt="" srcset="">
                    <span 
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" 
                    id="notifId"
                    >0</span>
                  </button> 
                </a>
            </div>
            
        </div>
      </div>
    </div>
  </nav>
