{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="row pt-5" id="productListId">
        {% for index in range (1,9) %}
        <!-- <div class="col-sm-3">
            <div class="card m-2" style="width: 18rem;">
              <a href="/product">  
              <img src="/static/productImages/{{index}}.jpg" class="card-img-top" height="250">
              </a>  
              <div class="card-body">
                  <h5 class="card-title">Product Name</h5>
                  Rp. <h6 class="text-danger d-inline">124000</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quidem nemo incidunt veniam rerum saepe.</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div> -->
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block script %}
<script src={{ url_for('static', filename='index.js')}}></script>
{% endblock %}