{% extends 'index.html' %}

{% block content  %}

<div class="container pt-5 pl-2">
    <div class="row">
        <div class="col-md-5">
            <div class="card m-2" style="width: 18rem;">
                <img src="/static/productImages/1.jpg" class="card-img-top" height="250">
                </a>  
                <div class="card-body">
                    <h5 class="card-title" id="productName">...</h5>
                    <p class="card-text" id="productDesc"></p>
                    </div>
                </div>
        </div>

        <div class="col-md-7 pt-3">
            <h1 class="f-6">Product Information</h1>
            <table class="table mt-2 table-borderless">
                <tbody>
                    <tr>
                        <td class="col-1">Type</td>
                        <td>:</td>
                        <td id="type">-</td>
                    </tr>
                    <tr>
                        <td class="col-1" >Brand</td>
                        <td>:</td>
                        <td id="brand">-</td>
                    </tr>
                    <tr>
                        <td class="col-1">Stock</td>
                        <td>:</td>
                        <td id="stock">-</td>
                    </tr>
                    <tr>
                        <td class="col-1">Berat</td>
                        <td> :</td>
                        <td id="weight">-</td>
                    </tr>
                    <tr>
                        <td class="col-1">Harga</td>
                        <td>:</td>
                        <td id="price">-</td>
                    </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src={{ url_for('product.static', filename='js/productUI.js') }}></script>
{% endblock %}